{% from "bootstrap5/form.html" import render_form %} {% block content %} {%include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>成德國小國樂團十周年音樂會</h1>
          <h2>訂單確認</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
{% with messages = get_flashed_messages() %} {% if messages %} {%for message in messages %}
<p class="flash">{{ message }}</p>
<p>{% endfor %} {%endif%} {%endwith%}</p>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h3>您的訂單資料如下，請確認以下內容是否正確</h3>
      <p>訂購者資訊</p>
      <ul>
        {%for key, value in order_info.items() %} {% if value != None %}
        <li>{{key}}：{{value}}</li>
        {%endif%}{%endfor%}
      </ul>
      <p>商品明細</p>
      <ol>
        {%for key, value in order_list.items() %} {% if value != None and value != 0 %}
        <li>{{key}}：{{value}}</li>
        {%endif%} {%endfor%}
      </ol>
      <h3 style="color: brown">總金額：{{cost}}</h3>
      <hr />
      <br />
      <p>
        商品價格<br />
        {% if ticket_open%} 音樂會門票：原價500元/張，團內購票350/張<br />
        {%endif%} 帆布包：300元/個<br />
        譜夾：130元/個<br />
        團T：200元/件
      </p>

      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{post.author.name}}</a>
          on {{post.date}}
          <!-- TODO: Only show delete button if user id is 1 (admin user) -->
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- TODO: Only show Create Post button if user id is 1 (admin user) -->
      <h3>若出現『訂單處理中，表示訂單已正在處理中，請勿重複送出訂單。</h3>

      <div class="d-flex justify-content-end mb-4">
        <form id="submitButton" method="post">{{render_form(form)}}</form>
        <div id="loading" style="display: none; color: red">訂單處理中，請勿重複按確認訂單</div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("submitButton").addEventListener("submit", function () {
    document.getElementById("submitButton").disabled = true;
    document.getElementById("loading").style.display = "block";
  });
</script>
{% include "footer.html" %}{% endblock %}
