{% from "bootstrap5/form.html" import render_form %} {% block content %} {% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/edit-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>成德國樂十週年紀念品</h1>
          {% else: %}
          <h1>成德國樂十週年紀念品</h1>
          {% endif %}
          <span class="subheading">數量有限，購買從速喔！</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>注意事項</h3>
        <h3 class="note">1. 團T為 200元/件</h3>
        <h3 class="note">2. 取貨方式為『成德國小自取』，取貨時間將另行公告</h3>
        <h3 class="note">3. 送出訂單後請在下個頁面確認訂單明細及總金額</h3>
        <br />
        <div class="img_container">
          <h5>帆布包&nbsp;&nbsp;&nbsp;售價：300元/個</h5>
          <img class="item_img" src="/static/assets/mockup-帆布-正面_0.png" alt="帆布包正面" />
          <img class="item_img" src="/static/assets/mockup-帆布-背面-2_0.png" alt="帆布包背面" />
        </div>
        <br />
        <div class="img_container">
          <h5>譜夾&nbsp;&nbsp;&nbsp;售價：130元/個</h5>
          <img class="item_img" src="/static/assets/譜夾1.jpg" alt="譜夾正面" />
          <img class="item_img" src="/static/assets/譜夾2.jpg" alt="譜夾背面" />
        </div>
        <br />
        <div class="img_container">
          <h5>團T&nbsp;&nbsp;&nbsp;售價：200元/件</h5>
          <img class="item_img" src="/static/assets/團T正面.png" alt="團T正面" />
          <img class="item_img" src="/static/assets/團T背面.png" alt="團T背面" />
        </div>
        <br />
        <div class="img_container">
          <h5>
            紀念品實體參考照
            <a href="https://drive.google.com/drive/folders/1qIRQowQw9owor28UL--C5Wx_xpwDM2VR?usp=drive_link" target="_blank"> &nbsp;&nbsp;（更多照片）</a>
          </h5>
          <img class="item_img" src="/static/assets/實體照2.jpg" alt="實體照2" />
          <img class="item_img" src="/static/assets/實體照4.jpg" alt="實體照4" />
        </div>
        <br />
        <div class="img_container">
          <img class="item_img" src="/static/assets/實體照1.jpg" alt="實體照1" />
          <img class="item_img" src="/static/assets/實體照3.jpg" alt="實體照3" />
        </div>
        <hr />
        <br />
        {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}
