{% from "bootstrap5/form.html" import render_form %} {% block content %}
{%include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit Post</h1>
          {% else: %}
          <h1>成德國小國樂團十周年音樂會</h1>
          <h1>門票訂購</h1>
          {% endif %}
          <span class="subheading">113年6月30日@台北生技園區多功能廳</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %} {% if messages %} {%for
        message in messages %}
        <p class="flash">{{ message }}</p>
        <p>{% endfor %} {%endif%} {%endwith%}</p>
        <h3>下單注意事項：</h3>
        <ul>
          <li>送出訂單後請在下個頁面確認訂單明細及總金額</li>
          <li>
            同一訂購者只能下一筆訂單，若有需要加單，請加數字，如「李小明2」
          </li>
        </ul>
        {{ ckeditor.load() }} {{ ckeditor.config(name='body') }}
        {{render_form(form, novalidate=True, button_map={"submit": "primary"})
        }}
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}
